:root {
  /* background */
  --c-grey: #818e85;
  --c-grey-dark: #525358;
  --c-grey-light: #adb8b2;
  --c-pink: #d997bb;

  /* text */
  --txt-c-black: #000;
  --txt-c-white: #fff;
  --txt-c-pink: #d997bb;

  --animation-transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* COMMON */
.pink-btn {
  background: var(--c-grey-dark);
  border: 3px solid;
  border-color: var(--c-pink);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-white);
  padding: 20px 35px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: var(--animation-transition);
}

/* FRONT PAGE*/

.nav-container {
  background: var(--c-grey-dark);
  display: flex;
  flex-direction: row;
  padding: 10px 15px 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
.header-logo {
  padding-left: 10px;
}
.header-text {
  text-decoration: none;
  color: var(--txt-c-pink);
  padding-left: 3px;
  padding-top: 2px;
}

.header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--txt-c-white);
  width: 100%;
  text-align: center;
}

.header-menu-item {
  display: inline-block;
  padding-right: 15px;
  transition: var(--animation-transition);
}

.header-menu-item > a {
  text-decoration: none;
}

.header-menu-item > a:link {
  color: var(--txt-c-white);
}

.header-menu-item > a:visited {
  color: var(--txt-c-white);
}

.header-menu-item > a:hover {
  color: var(--txt-c-pink);
}

.active-menu {
  color: var(--c-pink);
  border-bottom: 0.07em solid;
}

.top-section {
  background-image: url(../img/front-page/shapka.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.top-section-name {
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: var(--txt-c-white);
  padding-top: 250px;
  text-transform: uppercase;
}

.top-section-line {
  width: 200px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  border: none;
  color: var(--c-pink);
  background-color: var(--c-pink);
  height: 2px;
}

.top-section-descr {
  font-size: 26px;
  text-align: center;
  color: var(--txt-c-white);
}

.block-1-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--c-grey);
  padding-top: 130px;
  padding-bottom: 130px;
}

.block-1-img {
  display: flex;
  align-items: center;
  height: 560px;
}

.block-1-right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 560px;
}
.block-1-hello {
  font-size: 42px;
  text-align: center;
  color: var(--txt-c-black);
  margin-top: 0;
  margin-bottom: 10px;
}

.block-1-line {
  width: 200px;
  text-align: center;
  border: none;
  color: var(--c-pink);
  background-color: var(--c-pink);
  height: 2px;
}

.block-1-deskr {
  font-size: 20px;
  text-align: center;
  color: var(--txt-c-black);
  line-height: 1.5em;
  margin-top: 45px;
  margin-bottom: 60px;
}

.block-2-container {
  background-color: var(--c-grey-dark);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.block-2-name {
  margin: 0;
  color: var(--c-grey-dark);
  font-size: 5px;
}

.block-2-quote {
  box-sizing: content-box;
  font-size: 32px;
  line-height: 1.35;
  color: var(--txt-c-white);
  text-align: center;
  padding-bottom: 60px;
  padding-top: 30px;
  width: 750px;
}

.block-3-container {
  background-color: var(--c-grey-light);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.block-3-name {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.block-3-clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding-bottom: 55px;
}

.block-3-clients-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.block-3-line {
  border-right: 2px solid var(--c-grey-dark);
  height: 345px;
}

.block-3-line:last-child {
  border-right: none;
}

.block-3-clients-item-name {
  font-size: 24px;
  line-height: 1.35;
  color: var(--txt-c-black);
}

.block-3-clients-item-descr {
  text-align: center;
  width: 290px;
}

.block-4-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.block-4-name {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
}

.block-4-line {
  width: 200px;
  text-align: center;
  border: none;
  color: var(--c-pink);
  background-color: var(--c-pink);
  height: 2px;
}

.block-4-utp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 25px;
}

.block-4-utp-item {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 10px 15px;
  list-style-type: none;
}

.block-4-utp-item-name {
  color: var(--txt-c-black);
  font-size: 20px;
  line-height: 1.35;
}

.fa-bullseye {
  color: var(--c-pink);
  font-size: 40px;
}

.block-4-utp-item-fa {
  margin-right: 18px;
  margin-top: 15px;
}

.block-5-container {
  background-color: var(--c-grey-dark);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.block-5-name {
  margin: 0;
  color: var(--c-grey-dark);
  font-size: 5px;
}

.block-5-quote {
  box-sizing: content-box;
  font-size: 32px;
  line-height: 1.35;
  color: var(--txt-c-white);
  text-align: center;
  padding-bottom: 60px;
  padding-top: 30px;
  width: 750px;
}

.block-6-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--c-grey-light);
}

.block-6-name {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
}

.block-6-name-ne {
  color: var(--txt-c-black);
}

.block-6-content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.block-6-content-img {
  height: 610px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.block-6-content-text {
  box-sizing: border-box;
  font-size: 16px;
  padding-right: 40px;
  margin-left: 50px;
}

.block-6-content-text-number {
  font-weight: bold;
  padding-bottom: 25px;
}

.block-6-content-text-descr {
  font-weight: normal;
  font-size: 18px;
}

.block-7-container {
  background-color: var(--c-grey);
}

.block-7-name {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 30px;
}

.block-7-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  max-width: 1400px;
  padding-bottom: 80px;
  margin-bottom: 0;
}

.block-7-item-process {
  width: 23%;
}

.block-7-number {
  width: 60px;
  height: 60px;
  font-size: 39px;
  color: var(--c-grey-dark);
  border: 2px solid;
  border-color: var(--c-grey-dark);
  background: var(--c-pink);
  position: relative;
  border-radius: 100%;
  text-align: center;
}

.block-7-line {
  height: 2px;
  background-color: var(--c-grey-dark);
  margin-top: -30px;
  margin-bottom: 55px;
}

.block-7-descr {
  width: 210px;
}

.block-8-container {
  background-image: url(../img/front-page/block-8-brief.jpg);
  width: 100%;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.block-8-content {
  padding-top: 85px;
}

.block-8-name {
  font-size: 44px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 50px;
  margin-top: 0;
}

.block-8-descr {
  font-size: 24px;
  color: var(--txt-c-white);
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}

.block-8-btn {
  text-align: center;
}

.footer {
  background-color: var(--c-grey-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}
.footer-name {
  color: var(--txt-c-white);
  font-size: 16px;
  padding-top: 4px;
}
.footer-social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.fa-facebook-square {
  font-size: 30px;
  padding-right: 30px;
  color: var(--c-pink);
}

.fa-instagram-square {
  font-size: 30px;
  color: var(--c-pink);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  color: var(--txt-c-white);
  cursor: pointer;
}

.footer-contacts-tel {
  color: var(--txt-c-white);
  text-decoration: none;
}

.footer-contacts-tel:visited {
  color: var(--txt-c-white);
  text-decoration: none;
}
.footer-contacts-tel:hover {
  color: var(--c-pink);
}

.footer-contacts-e-mail {
  color: var(--txt-c-white);
  text-decoration: none;
}
.footer-contacts-e-mail:visited {
  color: var(--txt-c-white);
  text-decoration: none;
}
.footer-contacts-e-mail:hover {
  color: var(--c-pink);
}

/* SERVICES PAGE*/
.services-container {
  background-color: var(--c-grey);
}

.services-name {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
}

.services-items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.services-item-box {
  width: 30%;
  text-align: center;
  padding-bottom: 60px;
}

.price-container {
  background-color: var(--c-grey-light);
  margin-top: 0;
  padding: 30px;
}

.price-header {
  margin-top: 0;
}

.price-line {
  height: 2px;
  background-color: var(--c-pink);
  width: 600px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  border: none;
}

.price-header {
  color: var(--txt-c-white);
  font-size: 22px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.price-dscr {
  font-size: 14px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.question-container {
  background-image: url(../img/services/backdr.jpg);
  width: 100%;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.question-name {
  font-size: 44px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 50px;
  margin-top: 0;
  padding-top: 130px;
}

.question-descr {
  font-size: 24px;
  color: var(--txt-c-white);
  text-align: center;
}

.question-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 95px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.question-items-btn-1 {
  width: 50%;
  margin-right: 10%;
  text-align: right;
}

.question-items-btn-2 {
  width: 50%;
}

/* ABOUT PAGE*/
.about-block-1-container {
  background-image: url(../img/about/cover.jpg);
  height: 96vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.about-block-1-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
  left: 20px;
  right: 20px;
  max-width: 520px;
  text-align: left;
}

.about-block-1-name {
  background-color: var(--c-pink);
  color: var(--txt-c-black);
  font-size: 36px;
  margin-bottom: 20px;
  padding: 9px 16px 10px;
  display: inline-block;
}

.about-block-1-deskr {
  background-color: var(--c-grey-light);
  padding: 15px 16px 14px;
  display: inline-block;
  margin: 0;
}

.about-block-2-container {
  background-color: var(--c-grey);
}

.about-block-2-header {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-top: 0;
}

.about-block-2-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-block-2-items-left {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px 40px;
  width: 30%;
}

.about-block-2-photo {
  height: 670px;
  padding-top: 48px;
}

.about-block-2-items-right {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px 40px;
  width: 30%;
}

.contact-container-block-1 {
  background-image: url(../img/contacts/cover.jpg);
  width: 100%;
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.contact-container-block-1-header {
  font-size: 72px;
  color: var(--txt-c-white);
  text-align: center;
  margin-top: 0;
  padding-top: 150px;
}

.contact-container-block-2 {
  background-color: var(--c-grey);
}

.contact-container-block-2-header {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  padding-top: 70px;
}

.contact-container-block-2-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-container-block-2-left {
  font-size: 30px;
  color: var(--txt-c-black);
  width: 45%;
  padding: 50px;
}
.contact-container-block-2-left-data {
  list-style-type: none;
  color: var(--txt-c-black);
}

.contact-container-block-2-left-data > li > a {
  text-decoration: none;
  color: var(--txt-c-black);
}

.contact-container-block-2-left-data > li > a:visited {
  text-decoration: none;
  color: var(--txt-c-black);
}

.contact-container-block-2-left-data > li > a:hover {
  color: var(--c-pink);
}

.contact-container-block-2-right {
  padding: 50px;
}

.contact-container-block-2-left-social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

/* BRIEF PAGE*/
.brief-container {
  background-color: var(--c-grey-dark);
  text-align: center;
  padding: 100px;
}

/* PORTFOLIO PAGE*/
.portfolio-1-block {
  background-color: var(--c-grey);
}

.portfolio-1-block-name {
  font-size: 42px;
  color: var(--txt-c-white);
  text-align: center;
  padding-top: 70px;
}

.portfolio-1-block-descr {
  font-size: 24px;
  color: var(--txt-c-black);
  text-align: center;
  margin-bottom: 0;
}

.portfolio-2-block {
  background-color: var(--c-grey);
}

.portfolio-2-block-items {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  justify-content: center;
}

.portfolio-2-block-item-name {
  font-size: 36px;
  color: var(--txt-c-pink);
  text-align: center;
}

.portfolio-2-block-item-descr {
  text-align: center;
}

.portfolio-2-block-item-project {
  width: 50%;
  padding-top: 50px;
  padding-right: 15px;
}

.portfolio-2-block-item-project > img {
  width: 100%;
}

.portfolio-2-block-item-link {
  cursor: pointer;
  text-decoration: none;
}

/* PORTFOLIO-NAMING PAGE*/

.portfolio-naming-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-naming-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-naming-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-naming-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

.portfolio-naming-right-column-link {
  text-decoration: none;
  color: #b8424b;
}

.portfolio-naming-right-column-link:visited {
  text-decoration: none;
  color: #b8424b;
}

/* PORTFOLIO-CATALOG PAGE*/
.portfolio-catalog-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-catalog-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-catalog-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-catalog-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

.portfolio-catalog-right-column-link {
  text-decoration: none;
  color: #b8424b;
}

.portfolio-catalog-right-column-link:visited {
  text-decoration: none;
  color: #b8424b;
}

/* PORTFOLIO-SOCIAL PAGE*/
.portfolio-social-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-social-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-social-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-social-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

/* PORTFOLIO-VIDEO PAGE*/
.portfolio-video-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-video-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-video-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-video-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

.portfolio-video-right-column-link {
  text-decoration: none;
  color: #b8424b;
}

.portfolio-video-right-column-link:visited {
  text-decoration: none;
  color: #b8424b;
}

/* PORTFOLIO-SCRIPTS PAGE*/
.portfolio-scripts-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-scripts-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-scripts-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-scripts-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

/* PORTFOLIO-STICKERPACKS PAGE*/
.portfolio-stickerpacks-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-stickerpacks-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-stickerpacks-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-stickerpacks-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

/* PORTFOLIO-GOOGLE PAGE*/
.portfolio-google-container {
  background-color: var(--c-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px;
}

.swiper-container {
  width: 600px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-google-left-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-google-right-column {
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
}

.portfolio-google-right-column-name {
  font-size: 24px;
  color: var(--txt-c-white);
}

.portfolio-google-right-column-link {
  text-decoration: none;
  color: #b8424b;
}

.portfolio-down-block {
  background-color: var(--c-grey-light);
  padding: 20px;
}

.portfolio-down-block-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-down-block-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.portfolio-down-block-item > a {
  text-decoration: none;
  color: var(--txt-c-black);
}

.portfolio-down-block-item > a:visited {
  color: var(--txt-c-black);
}

.portfolio-down-block-item > a:hover {
  color: var(--txt-c-white);
  text-decoration: underline;
}
